.ds_store

# Ignore all node_modules
node_modules

# ...except the symlink to ourselves.
!node_modules/APP

# Yarn lockfile
yarn.lock
yarn-debug.log
yarn-error.log

# NPM errors
npm-debug.log
npm-error.log

# Compiled JS
public/dist

# Environment variables
.env
